PORT=3000
DB_URI=mongodb://localhost:27017/notestracker
BASE_URL=frontendurl
GMAIL_USER=yourgmailaddress
GMAIL_PASSWORD=yourgmailpassword
JWT_VALIDATION_SECRET=yourtokensecret
JWT_LOGIN_SECRET=yourloginsecret
JWT_RESET_SECRET=yourresetsecret
ENCRYPTION_KEY=yourencryptionkey