PORT=3000
DB_URI=mongodb://localhost:27017/notestracker
BASE_URL=frontendurl
GMAIL_USER=yourgmailaddress
GMAIL_PASSWORD=yourgmailpassword
JWT_VALIDATION_SECRET=yourtokensecret
JWT_LOGIN_SECRET=yourloginsecret
JWT_RESET_SECRET=yourresetsecret
JWT_2FA_LOGIN_SECRET=your2faloginsecret
ENCRYPTION_KEY=yourencryptionkey
NOTE_ENCRYPTION_KEY=yournoteencryptionkey
CLOUDINARY_API_KEY=yourkey
CLOUDINARY_API_SECRET=yoursecret
CLOUDINARY_CLOUD_NAME=yourcloudname
CLOUDINARY_FOLDER=yourfoldername