@import "tailwindcss";
*::-webkit-scrollbar {
  display: none;
}
* {
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 700ms;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
